body{
    background-color: #020122;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p, h1{
    color: #020122;
}
button{
    background-color: #FF521B;
    color: #020122;
}
.options{
    background-color: #F2F3AE;
    width: auto;
    height: auto;
    display: flex;
    align-items:center;
    justify-content:space-between;
    padding-right: 5%;
}
#color_picker{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
}
[type="color"]{
    border: 0;
    padding: 0;
    width: 200%;
    height: 200%;
    cursor: pointer;
    transform: translate(-25%, -25%)
}
.grid{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}
.grid, .options, #header{
    border-style: solid;
    border-color: black;
    border-width: 2px;
}
#grid_size_setter{
    display: flex;
}
#grid_size{
    accent-color: #FF521B;
}
#header{
    display: flex;
    background-color: #F2F3AE;
    justify-content: center;
}
#color_options{
    display: flex;
    gap: 15px;
}